/* styles copied from https://github.com/vercel/next.js/blob/canary/examples/layout-component/global.css */
body {
    margin: 0;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cards {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    margin: 16px;
}
.card {
    border: 1px solid #eeeeee;
    padding: 16px;
}
.covers {
    display: none;
    flex-direction: row;
    overflow: hidden;
    z-index: 50;
}
.covers.active {
    display: flex;
    width: 100%;
    top: 0;
    left:0;
    position: fixed;
    height: 100vh;
    background: #eaeaea;
}
main.main {
    display: flex;
    height: 100vh;
    background-color: white;
}

main.main > section {
    flex: 1;
    padding: 32px;
}